<div class="flex flex-row gap-8">
    <a href="#" target="_blank" >
  <app-icons [iconPrefix]="'fab'" [iconName] = "'facebook'" [size]="'2x'" [classes]="'aa--text-[#ebe5e5] aa--h-[20px] aa--pr-[10px]'"/> 
</a>
<a href="#" target="_blank" >
  <app-icons [iconPrefix]="'fab'" [iconName] = "'youtube'" [size]="'2x'" [classes]="'aa--text-[#ebe5e5] aa--h-[20px] aa--pr-[10px]'"/>
</a>
<a href="#" target="_blank" >
  <app-icons [iconPrefix]="'fab'" [iconName] = "'instagram'" [size]="'2x'" [classes]="'aa--text-[#ebe5e5] aa--h-[20px] aa--pr-[10px]'"/>
</a>
<a href="#" target="_blank" >
  <app-icons [iconPrefix]="'fab'" [iconName] = "'twitter'" [size]="'2x'" [classes]="'aa--text-[#ebe5e5] aa--h-[20px] aa--pr-[10px]'"/>
</a>
</div>
