<footer class="bg-black pt-[100px] px-8">
    <div class="grid grid-cols-[1fr_3fr] mb-[100px]">
        <div class="text-white flex flex-col gap-[40px] ">
             <img src="Tailwind_CSS_Logo.svg.png" class="w-[40px] h-[40px] object-contain">
            <p class="text-gray-400 ">Making the world a better place through constructing elegant hierarchies</p>
            <app-footer-icons></app-footer-icons>
        </div>
        <div class="flex flex-row gap-10 justify-evenly">
            @for(link of links; track link.title) {
                <div class="flex flex-col gap-5">
                    <h3 class="text-white font-bold mb-4 ">{{link.title}}</h3>
                    @for(content of link.contentLinks; track content.title) {
                        <a class="text-gray-400 hover:text-white" href="{{content.href}}">{{content.title}}</a>
                    }
                </div>
            }
        </div>
    </div>
    <div>
        <hr class="mt-10 h-[2px] border-[#3a3939] w-full border-t mb-[30px]" />
    </div>
    <div class="flex flex-row justify-between mb-5">
        <div class=" flex flex-col gap-3 ">
            <h2 class="text-white text-lg">Subscribe to our newsletter</h2>
            <p class="text-gray-400  mb-2">The latest news, articles, and resources, sent to your inbox weekly.</p>
        </div>
        <div class="flex flex-row gap-5 mt-2">
            <input type="email" placeholder="Enter your email..." 
            class="text-white w-[14vw] h-[5vh] p-2 bg-gray-800 border border-gray-600 rounded focus:outline-none focus:border-purple-500 placeholder-gray-400">
            <button class=" h-[5vh] bg-purple-600 text-white font-semibold rounded-md px-4">Subscribe</button>
        </div>
    </div>
    <hr class="mt-10 h-[2px] border-[#3a3939] w-full border-t mb-[20px]" />
    <div class="flex flex-row">
        <p class="text-gray-400 text-lg pb-[25px]">&copy; Your Company, Inc. All rights reserved.</p>
    </div>
</footer>
