<div class="body">
    <div class="content">
        <div class="flex flex-row justify-between  p-7  py-9 gap-5">
            <img src="Tailwind_CSS_Logo.svg.png" class="w-[40px] h-[40px] object-contain">
            <div class="flex flex-row  text-white text-lg flex-1 justify-center gap-[60px] font-bold">
                <p>Product</p>
                <p>Features</p>
                <p>Markertplace</p>
                <p>Company</p>
            </div>
            <button class="text-white group ">Log in
                <span class="inline-block transition-transform duration-300 ease-in-out group-hover:translate-x-1">
                        <app-icons [iconPrefix]="'fas'" [iconName]="'arrow-right'" [size]="'1x'" [classes]="'text-white h-[16px] '"
/>
                </span> 
            </button>   
        </div>
        <div class="mt-[100px] max-w-[800px] mx-auto flex flex-col gap-[40px] justify-center">
            <button class="border rounded-2xl border-gray-700  p-2 px-3 mx-auto hover:border-gray-500 text-gray-500">Announcing our next round of funding.
                <span class="text-purple-400 pr-[2px]">Read more
                    <app-icons [iconPrefix]="'fas'" [iconName]="'arrow-right'" [size]="'xs'" [classes]="' h-[16px] mt-[1px] justify-center'"></app-icons>
                </span>
            </button>
            <p class="text-7xl text-white font-bold text-center ">Data to enrich your online business</p>
            <p class="text-2xl text-gray-500  text-center ">Anim aute id magna aliqua ad ad non deserunt sunt. Qui irure qui lorem cupidatat commodo. Elit sunt amet fugiat veniam occaecat.</p>
            <div class="flex flex-row gap-5 mx-auto">
                <button class="rounded-lg text-white bg-blue-500 py-3 px-4 font-bold">Get started</button>
                <button class="text-white group text-lg">Learn more
                <span class="">
                        <app-icons [iconPrefix]="'fas'" [iconName]="'arrow-right'" [size]="'1x'" [classes]="'text-white h-[16px] '"
/>
                </span> 
            </button>   
            </div>
        </div>
        
    </div>
</div>
    

